.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }

  @media only screen and (max-width: 600px) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
